<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
    <title>Home</title>
  </head>

  <body>
    <div class="container">
      <div class="row ms-5">
        <%- include("../partials/navbar.ejs")%>
        <%- include("../partials/log-out-modal.ejs")%>
        <div class="col-11 col-lg-7">
          <div
            class="p-2 border-bottom border-start border-end"
            style="border-color: rgba(128, 128, 128, 0.475)"
          >
            <h1>Home</h1>
            <div class="d-flex">
              <div class="m-1">
                <img
                  style="object-fit: cover; image-rendering: optimizeQuality; width: 50px; height: 50px; border-radius: 100%"
                  src="/img/<%=usermain.image%>"
                  alt=""
                />
              </div>
              <div class="w-100">
                <form method="POST" action="/usuarios/tweet">
                  <div class="mb-3 m-1">
                    <input
                      style="border-color: white"
                      type="text"
                      name="tweet"
                      class="form-control"
                      id="tweet"
                      placeholder="What´s happening?"
                    />
                  </div>
                  <div class="d-flex justify-content-end">
                    <button
                      type="submit"
                      class="ps-auto pt-auto btn rounded-pill"
                      style="color: white; background-color: #1da1f2"
                    >
                      Tweet
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <% for(tweet of tweets){ %>

          <div
            class="d-flex p-2 border-bottom border-start border-end"
            style="border-color: rgba(128, 128, 128, 0.475)"
          >
            <div class="p-1">
              <img
                style="width: 50px; height: 50px; border-radius: 100%"
                src="/img/<%= tweet.userId.image %>"
                alt=""
              />
            </div>
            <div>
              <span class="text-start fw-bold"
                ><%= tweet.userId.firstname + " " + tweet.userId.lastname %></span
              >

              <small class="text-start opacity-75" style="color: #000000;
              font-family: Arial, Helvetica, sans-serif; ">
                <%= "@" + tweet.userId.username + "•" %>
              </small>
              <%const result  = formatDistance(today,tweet.createdAt) %>
              
              <small class="text-start opacity-75" style="color: #000000;
              font-family: Arial, Helvetica, sans-serif; "><%= result %></small>
              <p class="d-block text-start opacity-75"><%= tweet.content%></p>
              <%const userLike = tweet.like.some((u) => u.id === user.id);%>
              <% if (!userLike) {%>
              <a
                        href="/usuarios/like/<%=tweet._id%>"
                        type="submit"
                        class="svglike"
                        ><img src="/img/corazon.svg" alt="like" /></a
                      >
              <%}else{%>
                <a
                href="/usuarios/dislike/<%=tweet._id%>"
                type="submit"
                class="svgdislike"
                ><img src="/img/corazoncolor.svg" alt="like" /></a
              >
              <%}%>
              <span><%= tweet.like.length %></span>
              
            </div>
          </div>
          <% } %>
        </div>
        <%- include("../partials/cards") %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
